* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   color: #000;
   background-color: #ffffff;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #000;
   color: #fff;
   padding: 1rem;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 1000;
   filter: drop-shadow(0px 5px 8px #E31936);
}


.logo {
   height: 40px;
}

.menu-icon {
   font-size: 1.5rem;
}


.hero {
   padding: 7rem 1rem 3rem;
   background-color: #ffffff;
}

.hero h1 {
   font-size: 1.5rem;
   font-weight: bold;
}

.hero .highlight {
   color: #E31936;
   font-weight: bold;
}

/* Grille pour les événements */
.events, .past-events {
   padding: 1.5rem 1rem;
}

.events h2 {
   font-size: 1.25rem;
   margin-bottom: 1rem;
}


.events .highlight {
   color: #E31936;
   font-weight: bold;
}

.grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0.5rem;
}

.image-placeholder {
   aspect-ratio: 1/1;
   background-image: url('https://metrolinktrains.com/globalassets/explore/ventura/2024_explorexgamesreplacement.jpg');
   background-size: cover;
   background-position: center;
   border-radius: 8px;
}


.btn {
   display: block;
   margin: 1rem auto;
   padding: 0.75rem;
   width: 100%;
   max-width: 300px;
   text-align: center;
   background-color: #E31936;
   color: #fff;
   border: none;
   border-radius: 5px;
   font-weight: bold;
   cursor: pointer;
}

.btn:hover {
   background-color: #E31936;
   color: black;
}

.info {
   padding: 1.5rem 1rem;
}

.info ul {
   list-style-type: none;
   margin-top: 1rem;
}

.info ul li {
   margin-bottom: 0.5rem;
}


.footer {
   text-align: center;
   padding: 1.5rem 1rem;
   background-color: #000;
}

.footer .social-links a {
   display: inline-block;
   margin: 0.5rem;
   text-decoration: none;
   padding-inline: 1rem;
}

